body {
    padding: 0;
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
}

header {
    padding: 20px 30px;
}

#high-scores {
    text-decoration: none;
    color: #c23ac9;
}

header div {
    display: inline;
    float: right;
}

main {
    text-align: center;
}

.page {
    padding: 30px;
}

.btn {
    color: #fff;
    background-color: #542787;
    font-size: 20px;
    border: none;
    text-decoration: none;
    padding: 5px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #c23ac9;
}