body {
    padding: 0;
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
}

header {
    margin: 20px 30px;
}

header a {
    text-decoration: none;
    color: #c23ac9;
}

.timer {
    display: inline;
    float: right;
}

main {
    display: flex;
    justify-content: center;
    text-align: center;
}

.page-content div {
    width: 70%;
}

.page-content div h1 {
    margin: 20px;
    font-size: 32px;
}

.page-content div p {
    margin: 20px;
    font-size: 20px;
}

.btn {
    color: #fff;
    background-color: #542787;
    font-size: 20px;
    border: none;
    text-decoration: none;
    padding: 5px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #c23ac9;
}