body {
    padding: 0;
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
}

header {
    padding: 20px 30px;
}

#high-scores {
    text-decoration: none;
    color: #c23ac9;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 16px;
}

header div {
    display: inline;
    float: right;
}

main {
    text-align: center;
}

.page {
    width: 60%;
    margin: 30px auto;
    font-size: 24px;
}

.page h1 {
    font-size: 40px;
}

.btn {
    color: #fff;
    background-color: #542787;
    font-size: 24px;
    border: none;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #c23ac9;
}

#quiz-question {
    text-align: left;
}

#quiz-question ol {
    padding: 0;
}

#quiz-question ol li {
    list-style-type: none;
}

.btn-answer {
    display: block;
    margin: 10px 0;
    width: 30%;
    text-align: left;
    padding-left: 10px;
}
